li a {
    color: green; 
    font-size: 24px;
    /*border: 2px solid green;*/
    text-decoration: none;
}

body {
    background: white url("images/background.gif") no-repeat right bottom ;
    padding: 20px;
}

div.animation {
	width:60px;
	height:40px;
	background:#92B901;
	color:#ffffff;
	position:relative;
	font-weight:bold;
	font:bold 12px '微软雅黑', Verdana, Arial, Helvetica, sans-serif;
	padding:20px 10px 0px 10px;
	animation:animated_div 10s infinite;

	border-radius:5px;
    resize:both;
    overflow:auto;
}

@keyframes animated_div {
	0%		{transform: rotate(0deg);left:0px;}
	25%		{transform: rotate(-20deg);left:0px;}
	50%		{transform: rotate(0deg);left:500px;}
	55%		{transform: rotate(0deg);left:500px;}
	70%		{transform: rotate(0deg);left:500px;background:#1ec7e6;}
	100%	{transform: rotate(-360deg);left:0px;}
}

